NODE_ENV=development

APP_KEY=imageview
APP_URL=0.0.0.0
APP_PORT=3000
APP_CACHE_SECONDS=1800

DB_CONNECTION=mysql
DB_HOST=0.0.0.0
DB_PORT=3306
DB_DATABASE=www_imageview
DB_USERNAME=root
DB_PASSWORD=root
DB_CHARSET=utf8
DB_COLLATION=utf8_general_ci
DB_TIMEZONE=UTC
DB_MIGRATIONS_TABLENAME=migrations

MYSQL_ROOT_PASSWORD=root
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=www_imageview

PHPMYADMIN_PORT=8080

MAIL_SENDER=info@imageview.com
MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=60a98f1f55095d
MAIL_PASSWORD=0d22a2274617b2
MAIL_ENCRYPTION=null

IMAGES_FOLDER=static/images