version: '3.6'
services:
    node:
        build: .
        command: 'npm start'
        env_file:
            - .env
        ports: 
            - '${APP_PORT}:${APP_PORT}'
        volumes:
            - .:/usr/app/
            - /usr/app/node_modules
        depends_on: 
            - phpmyadmin
        networks:
            network:
                ipv4_address: 172.18.0.3
    mysql:
        image: mysql:5.7
        volumes: 
            - ~/DockerVolumes/mysql57:/var/lib/mysql
        env_file:
            - .env
        command: 'mysqld'
        ports: 
            - '${DB_PORT}:${DB_PORT}'
        networks:
            network:
                ipv4_address: 172.18.0.2
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - '${PHPMYADMIN_PORT}:80'
        env_file:
            - .env
        environment:
            PMA_HOST: '${DB_CONNECTION}'
            PMA_PORT: '${DB_PORT}'
        depends_on: 
            - mysql
        networks:
            network:
                ipv4_address: 172.18.0.4
networks:
    network:
        ipam:
            driver: default
            config:
                - subnet: 172.18.0.0/16