version: '3.3'
services:
    node:
        build: .
        command: 'npm start'
        env_file:
            - .env
        ports: 
            - '${APP_PORT}:${APP_PORT}'
    mysql:
        image: mysql:5.7
        volumes: 
            - ~/DockerVolumes/imageview/mysql:/var/lib/mysql
        env_file:
            - .env
        command: 'mysqld'
        ports: 
            - '${DB_PORT}:${DB_PORT}'