version: '3.3'
services:
    node:
        build: .
        command: 'npm start'
        env_file:
            - .env
        ports: 
            - '3000:3000'
    mysql:
        image: mysql:5.7
        volumes: 
            - ~/DockerVolumes/imageview/mysql:/var/lib/mysql
        env_file:
            - .env
        command: 'mysqld'
        ports: 
            - '3306:3306'